@import url('https://fonts.googleapis.com/css?family=Heebo:300,400&display=swap');

* {  
  box-sizing: border-box;
}

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}

body {
  background: #000000;
  font-family: 'Heebo', sans-serif;
  font-size: 0.8rem;
  color: var(--secondary-color);
}
#container {
  position: absolute;
  width: 800px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#canvas1 {
  position: relative;  
  width: 800px;
  height: 700px;
}

#slider {
  width: 100%;
}